<div class="col-sm-4">
  <article class="blog-post">
      <header>
      <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      </header>

          <p class="comment-count clearfix">
            <a href="{{ post.url }}/#disqus_thread">
              <span></span>
              <i class="glyphicons conversation"><i></i></i>
            </a>
          </p>

      <img class="leadimage img-responsive" src="{{ post.feat-img }}" alt="Blog Picture">

      <p>
      {{ post.excerpt }}
      </p>


      <div class="meta">
        Posted By <a href="{{ post.author-site }}">{{ post.author }}</a> On {{ post.date | date_to_string }}
    </div>

    <a href="{{ post.url }}" class="btn btn-grove-one btn-bold readmore">Read more</a>

      <hr class="visible-xs">
  </article>
</div>
