  <!--LayerSlider begin-->

    <!-- Note: Layerslider is configured in js/grove-slider.js -->
    <div class="hidden-xs">
        <div id="layerslider" style="width: 100%; height: 405px; margin: 0px auto; ">
            <div class="ls-layer" style="transition2d:5;">
                <img class="ls-bg" src="/img/slides/bg-one.jpg" alt="Slider Background">

                <img  class="ls-s-1" src="http://farm6.staticflickr.com/5511/9551622873_ece6498b84_b.jpg" alt="Eli in Cambodia" 
                      style="left:650px; height:500px; durationin : 1250; durationout : 1250;">

                <div class="ls-s-1 large-caption" 
                     style="top:120px; left:20px; delayin : 750; slidedirection : fade; slideoutdirection : fade;">
                    <div><p>Introducing Eli's site:</p></div>
                    <div><p><a href="/leadership-blog.html">Leadership</a></p></div>
                    <div>
                      <p><a href="/tech-blog.html">DevOps</a></p>
                        <p><a href="https://soundcloud.com/scottiedoe184">Music</a></p>
                        <p>Coffee</p>
                    </div>
                </div>
            </div>

            <div class="ls-layer" style="transition2d:5;">
                <img class="ls-bg" src="/img/slides/bg-six.jpg" alt="Slider Background">

                <img  class="ls-s-1" src="http://images.wookmark.com/336736_488_disqus_social_icon.jpg" alt="Disqus"
                      style="right:auto; height:405px; durationin : 1250; durationout : 1250; delayin : 0;">

                <div class="ls-s-1 large-caption" 
                     style="top:130px; left:700px; delayin : 700; slidedirection : fade; slideoutdirection : fade;">
                    <div><p></p></div>
                    <div><p>Please leave me a comment</p></div>
                    <div><p>and let me know what you think!</p></div>
                </div>

            </div>

        </div>
    </div>

    <!--LayerSlider end-->
